

h1, h2, h3 {text-align: center;}

form {text-align: center;
border: 15px solid;
padding: 100px;
margin: 122px;
background-color: beige;}

button {margin: 5px;
padding: 5px;}

.box {font-size: 20px;}




